<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-4.0.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd">

    <!-- 引入属性配置文件 -->
    <bean class="top.ibase4j.core.support.context.PropertyPlaceholder">
        <property name="locations">
            <list>
                <value>classpath*:config/jdbc.properties</value>
                <value>classpath*:config/sys.properties</value>
                <value>classpath:config/system.properties</value>
            </list>
        </property>
        <property name="decryptProperties">
            <array>
                <!-- 需要解密的配置 -->
                <value>druid.reader.password</value>
                <value>druid.writer.password</value>
            </array>
        </property>
    </bean>

    <!-- 扫描注解 -->
    <context:component-scan base-package="com.xmyy.pay">
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>

    <!-- 引入SPRING配置文件 -->
    <import resource="spring/mq.xml"/>
    <import resource="refer/mq-listener.xml"/>
    <import resource="spring/dubbo.xml"/>
    <import resource="refer/dubbo.xml"/>
    <import resource="spring/redis.xml"/>
    <import resource="spring/redisson.xml"/>
    <import resource="spring/mybatis.xml"/>
    <import resource="spring/dataSource.xml"/>

    <!-- 使用CGLIB代理，LCN分布式事务需要使用 -->
    <aop:aspectj-autoproxy expose-proxy="true" proxy-target-class="true"/>

</beans>