<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xmyy.product.mapper.PtSeriesColorMapper">
	<select id="selectIdPage" resultType="java.lang.Long" useCache="false">
		select id_ from pt_series_color
		<where>
			<if test="cm.ptSeriesId != null and cm.ptSeriesId != ''">
					and pt_series_id=#{cm.ptSeriesId}
			</if>
			<if test="cm.name != null and cm.name != ''">
					and name=#{cm.name}
			</if>
			<if test="cm.image != null and cm.image != ''">
					and image=#{cm.image}
			</if>
			<if test="cm.keyword != null and cm.keyword != ''">
				and (
					or pt_series_id like CONCAT('%',#{cm.keyword},'%')
					or name like CONCAT('%',#{cm.keyword},'%')
					or image like CONCAT('%',#{cm.keyword},'%')
				)
			</if>
		</where>
		<if test="cm.orderBy != null and cm.orderBy != ''">
			order by ${cm.orderBy}
		</if>
		<if test="cm.sortAsc != null and cm.sortAsc != ''">
			${cm.sortAsc}
		</if>
	</select>
</mapper>
