<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xmyy.member.mapper.UcPasswordMapper">
	<select id="selectIdPage" resultType="java.lang.Long" useCache="false">
		select id_ from uc_password
		<where>
			<if test="cm.password != null and cm.password != ''">
					and password=#{cm.password}
			</if>
			<if test="cm.keyword != null and cm.keyword != ''">
				and (
					or password like CONCAT('%',#{cm.keyword},'%')
				)
			</if>
		</where>
		<if test="cm.orderBy != null and cm.orderBy != ''">
			order by ${cm.orderBy}
		</if>
		<if test="cm.sortAsc != null and cm.sortAsc != ''">
			${cm.sortAsc}
		</if>
	</select>
</mapper>
