<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xmyy.circle.mapper.DgFavoritesMapper">
	<select id="selectIdPage" resultType="java.lang.Long" useCache="false">
		select id_ from dg_favorites
		<where>
			<if test="cm.appId != null and cm.appId != ''">
					and app_id=#{cm.appId}
			</if>
			<if test="cm.appName != null and cm.appName != ''">
					and app_name=#{cm.appName}
			</if>
			<if test="cm.entityTypeId != null and cm.entityTypeId != ''">
					and entity_type_id=#{cm.entityTypeId}
			</if>
			<if test="cm.entityId != null and cm.entityId != ''">
					and entity_id=#{cm.entityId}
			</if>
			<if test="cm.memberId != null and cm.memberId != ''">
					and member_id=#{cm.memberId}
			</if>
			<if test="cm.memberType != null and cm.memberType != ''">
					and member_type=#{cm.memberType}
			</if>
			<if test="cm.keyword != null and cm.keyword != ''">
				and (
					or app_id like CONCAT('%',#{cm.keyword},'%')
					or app_name like CONCAT('%',#{cm.keyword},'%')
					or entity_type_id like CONCAT('%',#{cm.keyword},'%')
					or entity_id like CONCAT('%',#{cm.keyword},'%')
					or member_id like CONCAT('%',#{cm.keyword},'%')
					or member_type like CONCAT('%',#{cm.keyword},'%')
				)
			</if>
		</where>
		<if test="cm.orderBy != null and cm.orderBy != ''">
			order by ${cm.orderBy}
		</if>
		<if test="cm.sortAsc != null and cm.sortAsc != ''">
			${cm.sortAsc}
		</if>
	</select>
</mapper>
