<?xml version="1.0" encoding="UTF-8"?>
<configuration status="WARN"  monitorInterval="30">
	<properties>
		<property name="LOG_HOME">${logs.path}</property>
		<!-- 日志备份目录 -->
		<property name="SERVER_NAME">${module.name}</property>
	</properties>
	<appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%date{yyyy-MM-dd HH:mm:ss.SSS} %level [%C{1}:%L] - %msg%n" />
			<Filters>
				<ThresholdFilter level="debug" onMatch="ACCEPT" onMismatch="DENY" />
			</Filters>
		</Console>
		<RollingFile name="devLog"
					 fileName="${LOG_HOME}/dev/${SERVER_NAME}.log"
					 filePattern="${LOG_HOME}/dev/${SERVER_NAME}.%d{yyyyMMdd}.%i.log">
			<PatternLayout pattern="%date{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %level [%C{36}.%M] - %msg%n" />
			<Policies>
				<SizeBasedTriggeringPolicy size="20MB" />
			</Policies>
			<Filters>
				<ThresholdFilter level="debug" onMatch="ACCEPT" onMismatch="DENY" />
			</Filters>
			<DefaultRolloverStrategy>
				<!-- 删除指定目录下7天之前的日志-->
				<Delete basePath="${LOG_HOME}" maxDepth="2">
					<IfFileName glob="*/*.log" />
					<IfLastModified age="30d" />
				</Delete>
			</DefaultRolloverStrategy>
		</RollingFile>
		<RollingRandomAccessFile name="errorLog"
								 fileName="${LOG_HOME}/${SERVER_NAME}.log"
								 filePattern="${LOG_HOME}/back/${SERVER_NAME}.%d{yyyyMMdd_HHmmss}.log">
			<PatternLayout pattern="%d{yyyy.MM.dd HH:mm:ss.SSS} [%thread] %level [%C{36}.%M:%L] - %msg%xEx%n" />
			<Policies>
				<SizeBasedTriggeringPolicy size="20MB" />
			</Policies>
			<Filters>
				<ThresholdFilter level="error" onMatch="ACCEPT" onMismatch="DENY" />
			</Filters>
		</RollingRandomAccessFile>
	</appenders>

	<loggers>
		<logger name="org.slf4j" level="info" />
		<logger name="io.swagger" level="info" />
		<logger name="org.quartz" level="info" />
		<logger name="org.redisson" level="info" />
		<logger name="com.atomikos" level="info" />
		<logger name="com.alibaba.dubbo" level="info" />
		<logger name="org.apache.activemq" level="info" />
		<logger name="org.springframework" level="info" />
		<logger name="org.mybatis.spring" level="info" />
		<logger name="org.apache.zookeeper" level="info" />
		<logger name="org.springframework.web" level="info" />
		<logger name="com.codingapi.tx.netty" level="info" />
		<Root level="debug">
			<AppenderRef ref="Console" />
			<AppenderRef ref="devLog" />
			<AppenderRef ref="errorLog" />
		</Root >
	</loggers>
</configuration>