package ${package.ServiceImpl};

import ${package.Entity}.${entity};
import ${package.Mapper}.${table.mapperName};
import ${package.Service}.${table.serviceName};
import ${superServiceImplClassPackage};
import org.springframework.cache.annotation.CacheConfig;
import com.alibaba.dubbo.config.annotation.Service;

/**
 * ${table.comment}  服务实现类
 *
 * @author ${author}
 */
@Service(interfaceClass = ${table.serviceName}.class)
@CacheConfig(cacheNames = "${entity}")
public class ${table.serviceImplName} extends ${superServiceImplClass}<${entity}, ${table.mapperName}> implements ${table.serviceName} {

}